
@{
    ViewData["Title"] = "Contact";
}

<!-- content page -->
<section class="bgwhite">
    <div class="container">
        <div class="row ">
            <div class="col-md-3"></div>
            <div class="col-md-6 p-b-30">
                    <h4 class="m-text26 p-b-20 ">
                        Send us your message through Email: fashe@example.com
                    </h4>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

