@model IEnumerable<DoAn1.Data.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<!-- Slide1 -->
<section class="slide1">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1 item1-slick1" style="background-image: url(/images/Slider/Slider2.jpg)">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
                        Collection 2019
                    </span>

                    <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                        New arrivals
                    </h2>

                    <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
                        <!-- Button -->
                        <a href="" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>

            <div class="item-slick1 item2-slick1" style="background-image: url(/images/Slider/Slider3.jpg);">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">
                        Collection 2019
                    </span>

                    <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
                        New arrivals
                    </h2>

                    <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
                        <!-- Button -->
                        <a href="" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>

            <div class="item-slick1 item3-slick1" style="background-image: url(/images/Template/master-slide-04.jpg);">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
                        Collection 2019
                    </span>

                    <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
                        New arrivals
                    </h2>

                    <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
                        <!-- Button -->
                        <a href="" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Content page -->
<section class="bgwhite p-t-55 p-b-65">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <div class="leftbar p-r-20 p-r-0-sm">
                    <!--  -->
                    <h4 class="m-text14 p-b-7">
                        Categories
                    </h4>

                    <ul class="p-b-54">
                        <li class="p-t-4">
                            <a asp-action="Index" asp-controller="HomePage" class="s-text13">
                                All
                            </a>
                        </li>

                        <li class="p-t-4">
                            <a asp-route-ProductTypeId="1" asp-action="Index" asp-controller="HomePage" class="s-text13">
                                Hoodie
                            </a>
                        </li>

                        <li class="p-t-4">
                            <a asp-route-ProductTypeId="2" asp-action="Index" asp-controller="HomePage" class="s-text13">
                                Long Sleeve
                            </a>
                        </li>

                        <li class="p-t-4">
                            <a asp-route-ProductTypeId="3" asp-action="Index" asp-controller="HomePage" class="s-text13">
                                Jacket
                            </a>
                        </li>

                        <li class="p-t-4">
                            <a asp-route-ProductTypeId="4" asp-action="Index" asp-controller="HomePage" class="s-text13">
                                Shirt
                            </a>
                        </li>
                    </ul>

                    <div class="search-product pos-relative bo4 of-hidden">
                        <form asp-area="" asp-controller="HomePage" asp-action="Search" method="get">
                            <div class="form-actions border no-color">
                                <input class="s-text7 size6 p-l-23 p-r-50" type="text" name="SearchString" placeholder="Search Products..." value="@ViewData[" currentFilter"]">
                                <button type="submit" class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
                                    <i class="fs-12 fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
                <!-- Product -->
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative hov-img-zoom block2-labelnew">
                                    <img src="~/images/Products/@item.Photo" alt="IMG-PRODUCT">

                                    <div class="block2-overlay trans-0-4">
                                        @*<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                        </a>*@

                                        <div class="block2-btn-addcart w-size1 trans-0-4">
                                             
                                            <a asp-action="Details" asp-controller="HomePage" asp-route-id="@item.Id" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                Add to Cart
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="block2-txt p-t-20 text-center">
                                    <a asp-action="Details" asp-controller="HomePage" asp-route-id="@item.Id" class="block2-name dis-block s-text3 p-b-5">
                                        @item.ProductName
                                    </a>
                                    <span class="block2-price m-text6 p-r-5">
                                        $@item.Price
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                
            </div>
        </div>
    </div>
</section>